*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100%;
    background-color: rgb(73, 70, 255);
    text-align: center;
    color: white;
}
header{
    padding: 20px 0;
}
section{
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}
footer p{
    color: black;
}
div img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
div p{
    padding: 30px 0;
    color: black;
    font-size: 25px;
    font-weight: bold;
}